{% extends '::base.html.twig' %}
{% block title %} Projet {% endblock %}


 {%block head %}
    <meta charset="utf-8" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, minimal-ui">
    <title>Création d'un projet</title>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
    {% block stylesheets %}
	<link rel="stylesheet" href="{{asset('bundles/projet/css/style.css')}}"/>
	
{% endblock %}
{%endblock%}
{%block body%}
<main id="main">
	 <label id="projet" for="projetName">Que voulez-vous faire ?</label>
     <input type="text" id="projetName" placeholder="Nom du projet"/>
     <label id="projet" class="hidden" for="projetDesc">En quoi cela consiste t-il ?</label>
     <textarea id="text" class="hidden" type="text" id="projetDesc" placeholder="Expliquez nous un peu en quoi cela consiste :)"/></textarea>
     <a id="button" href="{{ path('editProjet')}}" class="hidden"><img id="img" src="{{asset('bundles/projet/img/valider.svg')}}"/></a>
    </main>



{% block javascripts %}
    <script src="{{asset('bundles/projet/js/code.js')}}"></script>
		
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  
 
{% endblock %}
{%endblock%}

